

    <h1 style="text-align:center">Logo</h1>
      <p style="text-align:center">please Fill all in details</p>
      <br>
<form>
  <div class="content">
   
    <input type ="text" placeholder="Email" id="ip2">
    <br><br>
    
    <input type="password" placeholder="Password" id="ip2">
  <br>
    <br>
    <input type="password" placeholder="Confirm Password" id="ip2">
    <br>
    <br>
    <button type="submit" value="submit" id="ip1">SIGNUP</button>
  <br>  
  
  </div>
</form>

