body{
    background:url("sang.JPEG");
    background-size:cover;
      font-size: 10px;
    text-align:center;
    line-height: 24px;
    font-weight:arial;
    text-decoration: none;
    padding: 10px;
    color:white;
    max-width:100%;
    height:100em;
  width:auto;
  background-position:150% 50%;
    
    
   /* Fallback color */
  
  
    
  }
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
  
  
  
  #ip1 {
    border-radius: 20px;
    border:1px solid white;
    background: white;
    padding: 8px; 
    width: 200px;
    height: 35px; 
    color:brown;
    margin-top:1px;
     
    
    
    
  }
  #ip2 {
    border-radius: 20px;
    border: 0.5px solid white;
    padding: 8px; 
    width: 200px;
    height: 15px;
    color:whitesmoke;
    background:none;  
  }
  
  
      
  
  