/* You can add global styles to this file, and also import other style files */
body{
    background:url("sang.JPEG");
    background-size:cover;
      font-size: 10px;
    text-align:center;
    line-height: 24px;
    font-weight:arial;
    text-decoration: none;
    padding: 10px;
    color:white;
    max-width:100%;
    height:100em;
  width:auto;
  background-position:150% 50%;
    
    
   /* Fallback color */
  
  
    
  }/* You can add global styles to this file, and also import other style files */
